<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-push-2">
          <br><br>
  <div class="card" style="width:300px">
    <img class="img-fluid profile" src="assets/images/nikil.jpg" alt="Card image" style="width:60%">
    <div class="card-body">
      <h4 style="margin-left: 10px;" class="card-title">Nikhil Yarlagadda</h4>
      <h6 style="margin-left: 10px;" class="card-text">Passionate Front end developer from Anvizent. Angular Maniac. CEO of NG- bookstore</h6>
      <h5 style="margin-left: 10px;"><i class="fa fa-envelope"></i>  nikhil.yarlagadda@anvizent.com</h5>
      <h5 style="margin-left: 10px;"><i class="fa fa-phone-square"></i>  +918500780162</h5>
      <a style="margin-left: 10px;" href="http://www.linkedin.com/in/nikhil-yarlagadda-5b361a62" class="btn btn-primary" target="_blank"><i class="fa fa-linkedin-square"></i> See Profile</a>
    </div>
  </div>
</div>
 <div class="col-md-6 ">
  <br><br>
  <div class="card" style="width:300px"> 
    <img class="img-fluid profile" src="assets/images/jitendra.jpg" alt="Card image" style="width:60%">
    <div class="card-body">
      <h4 style="margin-left: 10px;" class="card-title">Jitendra Josyula</h4>
      <h6 style="margin-left: 10px;" class="card-text">Web application Engineer from Traveltek. Fullstack Maniac. Co-programmer at NG- bookstore</h6>
      <h5 style="margin-left: 10px;"><i class="fa fa-envelope"></i>  ram@traveltek.net</h5>
      <h5 style="margin-left: 10px;"><i class="fa fa-phone-square"></i>  +917995882745</h5>
      <a style="margin-left: 10px;" href="http://www.linkedin.com/in/jitendra-josyula" class="btn btn-primary" target="_blank"><i class="fa fa-linkedin-square"></i> See Profile</a>
    </div>
  </div>
</div>
</div>
<div class="row">
  <h3>Are you a passionate developer or interested in Angular? or any front-end technologies? Please do not hesitate to contact us. Cheers !!</h3>
</div>
</div>