<div class="container">

  <div class="row">
    <div class="col-md-4">
          <br><br>
  <div class="card" style="width:300px;margin-top:-44px;">
    <img class="img-fluid profile" src="assets/images/jitendra.jpg" alt="Card image" style="width:60%">
    <div class="card-body">
      <h4 style="margin-left: 10px; " class="card-title">Jitendra Josyula</h4>
      <h6 style="margin-left: 10px;" class="card-text">Web application Engineer from Traveltek. Fullstack Maniac. Programmer for RJ- bookstore</h6>
      <h5 style="margin-left: 10px;"><i class="fa fa-envelope"></i>  ram@traveltek.net</h5>
      <h5 style="margin-left: 10px;"><i class="fa fa-phone-square"></i>  +917995882745</h5>
      <a style="margin-left: 10px;" href="http://www.linkedin.com/in/jitendra-josyula" class="btn btn-primary" target="_blank"><i class="fa fa-linkedin-square"></i> See Profile</a>
    </div>
  </div>
</div>
 <div class="col-md-6 ">
    <h3>Ram has finished his masters from BTH university Sweden. He is a fullstack maniac with handson experience in building
    applications in Angular and Python.</h3>
</div>
</div>

</div>
