 /* .navbar-brand {
  height: 60px;
} */
.navbar {
width: 100%;
}
/* .navbar-brand>img {
  width: 120px;
  max-height: 100%;
}
.navbar-nav>li>a{
	font-size: 18px;

}
.active{
	padding: 1px auto;
} */
