
<div *ngIf='book'>
  <div class="row" style="max-width:1000px; border:1px solid red;margin: auto;">



      <div class="col-xs-5" style="padding:10px;border:1px solid white;">
        <img src="{{book.volumeInfo.imageLinks.small}}" width="200" height="300" alt="book image">
      </div>
      <div class="col-xs-7" style="padding:10px; width:560px;border:1px solid yellow;">
        <ol class="breadcrumb" style="width:300px;">
            <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
            <li class="breadcrumb-item active">Books</li>
        </ol>
        <h3>{{book.volumeInfo.title}}</h3>
        <h5>Price: <i class="fa fa-inr" style="padding:50px;"></i>{{book.saleInfo.listPrice.amount}}</h5>
      </div>



  </div>


</div>
