
<div *ngIf='book'>
  <div class="container">
    <div class="row" style="max-width:1000px; margin-top: 50px;">
        <div class="col-xs-5" class="rotate" style="padding:20px;width:300px; height:448px;position: sticky; top:55px;">

         <a  data-toggle="modal" data-target="#myModal">  <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" width="260" height="300" alt="book image"></a>

         <div class="modal " id="myModal" role="dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>

      </div>

    </div>
          <div class="container">
            <div class="row buttondiv">
              <button type="button" class="btn btn-default" name="" >Add to Cart</button>
              <div class="divider"></div>
              <button type="button" class="btn btn-default" name="" >Buy Now</button>
            </div>
          </div>

        </div>
        <div class="col-xs-7 bookprice" >
          <ol class="breadcrumb bread1" >
              <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
              <li class="breadcrumb-item active">Books</li>
          </ol>
          <h3 class="bookname">{{book.volumeInfo.title}}</h3>
          <div class="row" >
            <p>
              <span class="badge badge-success rating"  *ngIf='book.volumeInfo?.averageRating'>{{book.volumeInfo.averageRating}} <i class="fa fa-fw fa-star"></i></span>
            </p>

          </div>
          <h5 *ngIf="book.saleInfo.listPrice?.amount"> <b style="color:#f6cc49"> Price</b>:<i class="fa fa-inr" style="padding:10px;"></i>  {{book.saleInfo.listPrice.amount}}</h5>
          <p *ngIf='book.volumeInfo?.authors'><b style="color:#f6cc49"> Author</b>: {{book.volumeInfo.authors[0]}}</p>
          <p *ngIf='book.volumeInfo?.subtitle'><b style="color:#f6cc49"> Sub-title</b>: {{book.volumeInfo.subtitle}}</p>
          <p *ngIf='book.volumeInfo?.categories'><b style="color:#f6cc49"> Category</b>: {{book.volumeInfo.categories[0]}}</p>
          <p *ngIf='book.volumeInfo?.pageCount'><b style="color:#f6cc49"> Pages</b>: {{book.volumeInfo.pageCount}}</p>
          <p  *ngIf='book.volumeInfo?.publisher'><b style="color:#f6cc49"> Publisher</b>:{{book.volumeInfo.publisher}}</p>
          <p *ngIf='book.volumeInfo?.publishedDate'><b style="color:#f6cc49"> Published Date</b>: {{book.volumeInfo.publishedDate}}</p>
          <p *ngIf='book.volumeInfo?.description'><b style="color:#f6cc49"> Description</b>: {{book.volumeInfo.description | striphtml }}</p>
        </div>

    </div>
  </div>

  <div class="container">
    <div class="row" style="border: 1px solid #fff;">
      <p class="simil"><b style="color:#f6cc49"> Similar Books you may be interested in</b></p>



      	<div class="container" *ngIf='results'>
      		<div class="row" style="border: 1px solid #fff;">
      		<div *ngFor="let res of results | slice:5:10">
      			<span *ngIf='res.volumeInfo.imageLinks?.thumbnail'>
      				<div class="result">
      					<div class="card" style="width:200px;margin: 12px;">
      				    <img class="img-fluid profile" src="{{res.volumeInfo.imageLinks.thumbnail}}" alt="Card image">
      				    <div class="card-body">
      							<a routerLink='/book/{{res.id}}' style="color: #000;">{{res.volumeInfo.title}}</a>
      							<span *ngIf="res.volumeInfo.averageRating?.length>0" class="badge badge-pill badge-info" >{{res.volumeInfo.averageRating}}<i class="fa fa-fw fa-star"></i></span>
      	 						<span *ngIf="res.volumeInfo.authors?.length>0"><p class="text-warning">{{res.volumeInfo.authors[0]}}</p></span>
      				     <span *ngIf="res.saleInfo.listPrice?.length>0" style="color: #000;"><i class="fa fa-inr"></i>  {{res.saleInfo.listPrice.amount}}</span>

      				    </div>
      				  </div>

      					</div>
      					</span>
      			</div>
      		</div>
      	</div>

    </div>
  </div>

</div>
