<div *ngIf='category'>

</div>
<div class="container">
	<div class="row">


	<div class="jumbotran">
		<h1>Welcome to NJ book store</h1>
		<h5>The history of textbooks dates back to civilizations of ancient history. For example, Ancient Greeks wrote texts intended for education. The modern textbook has its roots in the standardization made possible by the printing press. Johannes Gutenberg himself may have printed editions of Ars Minor, a schoolbook on Latin grammar by Aelius Donatus. Early textbooks were used by tutors and teachers, who used the books as instructional aids, as well as individuals who taught themselves.
The Greek philosopher Plato lamented the loss of knowledge because the media of transmission were changing. Before the invention of the Greek alphabet 2,500 years ago, knowledge and stories were recited aloud, much like Homer's epic poems. The new technology of writing meant stories no longer needed to be memorized, a development Socrates feared would weaken the Greeks' mental capacities for memorizing and retelling. (Ironically, we know about Socrates' concerns only because they were written down by his student Plato in his famous Dialogues. </h5>
	</div>
	</div>
	</div>
	<div class="row">


	<div class="input-group searchtext">
	  <input class="form-control "
	         placeholder="Type in the name of the book...." id='searchStr' [(ngModel)]="searchStr" (keyup)="searchBooks()">
	  <div class="input-group-addon">
			<button type="button" class="btn btn-info">
			<span class="text">Search</span><i class="fa fa-search"></i>
		</button>
		</div>
	</div>
	</div>
	<div class="row">


	<div class="container" *ngIf='results'>
		<div class="row" style="border: 1px solid #fff;">
		<div *ngFor="let res of results">
			<span *ngIf='res.volumeInfo.imageLinks?.thumbnail'>
				<div class="result">
					<div class="card" style="width:200px;">
				    <img class="img-fluid profile" src="{{res.volumeInfo.imageLinks.thumbnail}}" alt="Card image">
				    <div class="card-body">
							<a routerLink='/book/{{res.id}}' style="color: #000;">{{res.volumeInfo.title.substring(0,15)}}</a>
							<span *ngIf="res.volumeInfo.averageRating?.length>0" class="badge badge-pill badge-info" >{{res.volumeInfo.averageRating}}<i class="fa fa-fw fa-star"></i></span>
	 						<span *ngIf="res.volumeInfo.authors?.length>0"><p class="text-warning">{{res.volumeInfo.authors[0]}}</p></span>
				     <span *ngIf="res.saleInfo.listPrice?.length>0" style="color: #000;"><i class="fa fa-inr"></i>  {{res.saleInfo.listPrice.amount}}</span>

				    </div>
				  </div>

					</div>
					</span>
			</div>
		</div>
	</div>
	</div>
