<div class="container">
	<div class="jumbotran">
		<h1>Welcome to NJ book store</h1>
		<h5>It all started with a project in Angular with partnership betweeen Nikil and Jitendra and now it has a mothly turnover of nearly 1.5 million apart from all the love and affection from the book lovers all over the world.</h5>
	</div>
	</div>
	<div class="input-group searchtext">
	  <input class="form-control "
	         placeholder="Type in the name of the book...." id='searchStr' [(ngModel)]="searchStr" (keyup)="searchBooks()">
	  <div class="input-group-addon" >
			<button type="button" class="btn btn-info">
			<span class="text">Search</span><i class="fa fa-search"></i>
		</button>
		</div>
	</div>
	<div class="container" *ngIf='results'>
		<div *ngFor="let res of results">
			<div class="row">
				<div class="col-md-12 bg-dark result">
						<h6><a href="#">{{res.volumeInfo.title}}</a> <span class="badge badge-pill badge-info">{{res.volumeInfo.publisher}}</span></h6>
						<span *ngIf="res.volumeInfo.authors?.length<=0"><p class="text-warning">AuthorName Missing</p></span>
							<p class="text-warning">{{res.volumeInfo.authors}}</p>
					</div>
			</div>
		</div>
	</div>
