.searchtext{
  width:60%;
  margin:5px auto;
  margin-top: 3%;
}
.container{
  margin-top: 3%;
}
.input-group-addon{

  background-color: #fff;
  width: 15%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.fa-search{
  padding-top: 10%;
padding-left: 15%;
}
.btn-info{
  width: 100%;
}
