<div *ngIf='category'>
	<div class="row">


	<div class="container" *ngIf='results'>
		<div class="row" style="border: 1px solid #fff;">
		<div *ngFor="let res of results">
			<span *ngIf='res.volumeInfo.imageLinks?.thumbnail'>
				<div class="result">
					<div class="card" style="width:200px;">
				    <img class="img-fluid profile" src="{{res.volumeInfo.imageLinks.thumbnail}}" alt="Card image">
				    <div class="card-body">
							<a routerLink='/book/{{res.id}}' style="color: #000;">{{res.volumeInfo.title}}</a>
							<span *ngIf="res.volumeInfo.averageRating?.length>0" class="badge badge-pill badge-info" >{{res.volumeInfo.averageRating}}<i class="fa fa-fw fa-star"></i></span>
	 						<span *ngIf="res.volumeInfo.authors?.length>0"><p class="text-warning">{{res.volumeInfo.authors[0]}}</p></span>
				     <span *ngIf="res.saleInfo.listPrice?.length>0" style="color: #000;"><i class="fa fa-inr"></i>  {{res.saleInfo.listPrice.amount}}</span>

				    </div>
				  </div>

					</div>
					</span>
			</div>
		</div>
	</div>
	</div>
</div>
<div *ngIf='!category' >





		<div id="demo" class="carousel slide" data-ride="carousel">

		  <!-- Indicators -->
		  <ul class="carousel-indicators">
		    <li data-target="#demo" data-slide-to="0" class="active"></li>
		    <li data-target="#demo" data-slide-to="1"></li>
		    <li data-target="#demo" data-slide-to="2"></li>
				<li data-target="#demo" data-slide-to="3"></li>
		    <li data-target="#demo" data-slide-to="4"></li>
		  </ul>

		  <!-- The slideshow -->
		  <div class="carousel-inner">
		    <div class="carousel-item active">
					<img src="./assets/images/book31.jpg" alt="Book1"  class="img-fluid">
					<div class="carousel-caption d-none d-md-block">
			    <h3>All Harry Potter Collections</h3>
			    <p>Hurry Up!!</p>
			  </div>
		    </div>
		    <div class="carousel-item">
		      <img src="./assets/images/book33.jpg" alt="Book2" class="img-fluid">
					<div class="carousel-caption d-none d-md-block">
			    <h3 class="text-align">Devotional Collections</h3>
			    <p>Go develotional!!</p>
			  </div>
		    </div>
		    <div class="carousel-item">
		      <img src="./assets/images/book5.jpg" alt="Book3" class="img-fluid">
					<div class="carousel-caption d-none d-md-block">
			    <h3>Old books Collections</h3>
			    <p>Vitage Collections!!</p>
			  </div>
		    </div>
				<div class="carousel-item">
		      <img src="./assets/images/book7.jpg" alt="Math" class="img-fluid">
					<div class="carousel-caption d-none d-md-block">
			    <h3>Mathematics</h3>
			    <p>All volumes!!</p>
			  </div>
		    </div>
				<div class="carousel-item">
		      <img src="./assets/images/book4.jpg" alt="IT" class="img-fluid">
					<div class="carousel-caption d-none d-md-block">
			    <h3>IT Books</h3>
			    <p> Be a Geek!!</p>
			  </div>
		    </div>
		  </div>

		  <!-- Left and right controls -->
		  <a class="carousel-control-prev" href="#demo" data-slide="prev">
		    <span class="carousel-control-prev-icon"></span>
		  </a>
		  <a class="carousel-control-next" href="#demo" data-slide="next">
		    <span class="carousel-control-next-icon"></span>
		  </a>

		</div>

	<!-- </div><!--jumbo-->


	<div class="row searchbox">
	<div class="input-group searchtext">
	  <input class="form-control "
	         placeholder="Type in the name of the book...." id='searchStr' [(ngModel)]="searchStr" (keyup)="searchBooks()">
	  <div class="input-group-addon">
			<button type="button" class="btn btn-info">
			<span class="text">Search</span><i class="fa fa-search"></i>
		</button>
		</div>
	</div>
	</div>

	<div class="row">
	<div class="container" *ngIf='results'>
		<div class="row" style="border: 1px solid #fff;">
		<div *ngFor="let res of results">
			<span *ngIf='res.volumeInfo.imageLinks?.thumbnail'>
				<div class="result">
					<div class="card" style="width:200px;">
				    <img class="img-fluid profile" src="{{res.volumeInfo.imageLinks.thumbnail}}" alt="Card image">
				    <div class="card-body">
							<a routerLink='/book/{{res.id}}' style="color: #000;">{{res.volumeInfo.title.substring(0,25)}}</a>
							<span *ngIf="res.volumeInfo.averageRating?.length>0" class="badge badge-pill badge-info" >{{res.volumeInfo.averageRating}}<i class="fa fa-fw fa-star"></i></span>
	 						<span *ngIf="res.volumeInfo.authors?.length>0"><p class="text-warning">{{res.volumeInfo.authors[0]}}</p></span>
				     <span *ngIf="res.saleInfo.listPrice?.length>0" style="color: #000;"><i class="fa fa-inr"></i>  {{res.saleInfo.listPrice.amount}}</span>

				    </div>
				  </div>

					</div>
					</span>
			</div>
		</div>
	</div>
	</div>

	<div class="popbooks">

	<h3 class="text-center" style="color:#fff;">Popular Books</h3>
	<div class="row">

	<div class="col-sm">
		<div class="container popimg">
				<img src="./assets/images/book4.jpg" alt="Avatar" class="image">
				<div class="overlay">
				<div class="text"> <a href="#">Hello World</a> </div>
				</div>
		</div>
	</div>
	<div class="col-sm">
		<div class="container popimg">
			<img src="./assets/images/book2.jpg" alt="Avatar" class="image">
			<div class="overlay">
				<div class="text"><a href="#">Hello World</a></div>
			</div>
		</div>

	</div>
	<div class="col-sm">
		<div class="container popimg">
			<img src="./assets/images/book3.jpg" alt="Avatar" class="image">
			<div class="overlay">
				<div class="text"><a href="#">Hello World</a></div>
			</div>
		</div>

	</div>
	<div class="col-sm">
		<div class="container popimg">
			<img src="./assets/images/book1.jpg" alt="Avatar" class="image">
			<div class="overlay">
				<div class="text"><a href="#">Harry Potter</a></div>
			</div>
		</div>

	</div>
	<div class="col-sm">
		<div class="container popimg">
			<img src="./assets/images/book8.jpg" alt="Avatar" class="image">
			<div class="overlay">
				<div class="text"><a href="#">Hello World</a></div>
			</div>
		</div>

	</div>

</div>
</div>
